body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--bgcolor);
  }
  
  .team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh; 
  }
  
  .fancy-header {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #333;
    background: var(--textcolor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  
  .team-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
  }
  
  .team-member-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 220px;
    padding: 20px;
    transition: transform 0.3s;
  }
  
  .team-member-card:hover {
    transform: translateY(-5px);
  }
  
  .member-details h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .member-details p {
    color: #555;
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .linkedin-circle {
    display: inline-block;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: #0077b5; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .linkedin-circle a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  